# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Production
/dist
/build
/backend/dist
/frontend/dist

# Development
.vite/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
/coverage

# Tools
.turbo/

